<app-back-angle [linkText]="linkText" [routerLinkInput]="routerLinkInput"></app-back-angle>
<hr />
<h1>Hello {{ name }}!</h1>
<hr />
<div
  *ngIf="toBeHighlighted"
  [innerHtml]="toBeHighlighted | highlightHtml : highlightHtmlText"
></div>
<hr />
<!-- <div *ngFor="let city of usCities$ | async">
  {{ city.id }} - {{ city.cityName }} - {{ city.inStateName }}
</div> -->

<!-- <ul *ngIf="usStates">
  <li *ngFor="let state of usStates">
    {{ state?.stateName }}
  </li>
</ul> -->

<!-- <ul *ngIf="items$ | async as items">
  <li *ngFor="let item of items">
    {{ item?.stateName }}
  </li>
</ul> -->

<table class="table table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>State</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of items$ | async">
      <td>{{ item.id }}</td>
      <td><div [innerHtml]="item.stateName | highlightHtml : 'al'"></div></td>
    </tr>
  </tbody>
</table>
